@h1-size-pt: 18pt;
@h2-size-pt: @h1-size-pt - 4pt;

@color-graph-button: #817855;
@color-highlight: #202020;
@color-graph-button-highlight: @color-graph-button + @color-highlight;

/* http://paletton.com/#uid=4481n0k3V4WaYgf7Lb1ac80gJaQ */


body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

section {
    padding: 10px 30px;
}

section.highlight {
    &:extend(section);
    padding: 10px 10px;
    text-align: center;
    font-family: sans-serif;
}

section.l3heading {
    &:extend(section.highlight);
    text-align: left;
}
section.l3heading h1 {
    font-weight: normal;
    border-left: 15px solid #54282b;
    padding-left: 10px;
    transition: border-left-color 0.5s;
}
section.l3heading h1:hover {
    border-left: 15px solid #7e5356;
}

section.l2heading {
    &:extend(section.highlight);
    padding: 20px 20px;

    background: #1f221e;
    transition: background-color 0.5s;
}
section.l2heading:hover {
    background: #1f221e + (@color-highlight/2);
}
section.l2heading h1 {
    font-size: @h1-size-pt;
    color: white;
}
section.l2heading h2 {
    color: #817855;
    font-size: @h2-size-pt;
}

section.l1heading {
    &:extend(section.l2heading);
    padding: 40px 20px;

    background: #19181b;
    color: white;
    transition: background-color 0.5s;
}
section.l1heading:hover {
    background: #19181b + (@color-highlight/2);
}
section.l1heading h1 {
    font-size: 36pt;
    margin: 0px;
}
section.l1heading h2 {
    font-style: italic;
    font-weight: normal;
}

/* TODO: this needs to be more responsive on different devices. */
section.story {
    width: 80%;
    display: inline-block;
}
section.story p {
    text-align: left;
}

section.graph {
}

.graph-top-nav ul {
    list-style: none;
    text-align: left;
    border-bottom: 1px dotted #32303d;
    margin: 0 0 20px 0px; padding: 2px;
}
.graph-top-nav ul li {
    display: inline-block;
    background: @color-graph-button;
    margin: 2px;
    padding: 6px;
    transition: background-color 0.25s;
}
.graph-top-nav ul li:hover, .graph-top-nav ul li.selected {
    background: @color-graph-button-highlight;
}
.graph-top-nav ul li a {
    color: #272622;
    text-decoration: none;
    font-size: 13pt;
}

nav {
    background: black;
    color: white;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}
nav ul li {
    display: inline-block;
    margin: 0px 10px;
    padding: 0;
}
nav ul li:hover {
    background: #22202c;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16pt;
    min-width: 8em;
    display: inline-block;
    padding: 8px;
}


img {
    opacity: 1;
    transition: opacity 0.5s;
}
img:hover {
    opacity: 0.9;
}